<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Notable|Roboto&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/styles.css') }}">
</head>


<div class="intro">
    <header>
        <div class="container">
            <div class="inner_header">

                <nav class="navigation">
                    <a href="#" class="nav_link">About</a>
                    <a href="#" class="nav_link">Portfolio</a>
                </nav>
                <div class="logo"><img src="static/assets/images/logo/JD.png" alt=""></div>
                <nav class="navigation">
                    <a href="#" class="nav_link">My blog</a>
                    <a href="#" class="nav_link">Contact me</a>
                </nav>
            </div>
        </div>
    </header>

    <body>

        <div class="container">
            <div class="inner_intro">

                <div class="intro_title">retro</div>

                <div class="suptitle_block">
                    <div class="intro_suptitle"><img src="static/assets/images/intro/lenta.png" alt=""></div>
                </div>

            </div>

            <div class="outter_inner_slider">
                <div class="intro_slider">
                </div>
                <div class="slider_suptitle">Kodak camera</div>
            </div>

            <div class="intro_bot_content">

                <div class="intro_bot_title">
                    <h1>Hello</h1>
                </div>
                <div class="intro_bot_suptitle">
                    <h2>I am bla bla bla</h2>
                </div>
            </div>
        </div>
</div>


<div class="section section--line">
    <div class="container">
        <div class="section_content">
            <div class="section_title">
                about me
            </div>
            <div class="arrows_title">
                <img src="static/assets/images/section/arrows.png" alt="">
            </div>
            <div class="section_suptitle">
                I am a graphic designer from baltimor
            </div>
        </div>
    </div>



    <div class="container">
        <div class="about">
            <div class="about_item">
                <div class="about_pic">
                    <img src="static/assets/images/about/tv.png" alt="">
                </div>
                <div class="about_title">
                    Movies
                </div>
                <div class="about_suptitle">
                    What i watch
                </div>
                <div class="about_text">
                    Clutter is honest! I do believe that has to the users
                    selfexpression. Care. Things which is a projector operating system such formats are deep and
                    profound
                    and meaningful. It's the traditions of data. Good design should be different levels. There's no
                    rational
                    alternative. That's come to complexity.
                </div>
            </div>
            <div class="about_item">
                <div class="about_pic">
                    <img src="static/assets/images/about/food.png" alt="">
                </div>
                <div class="about_title">
                    Movies
                </div>
                <div class="about_suptitle">
                    What i watch
                </div>
                <div class="about_text">
                    Clutter is honest! I do believe that has to the users
                    selfexpression. Care. Things which is a projector operating system such formats are deep and
                    profound
                    and meaningful. It's the traditions of data. Good design should be different levels. There's no
                    rational
                    alternative. That's come to complexity.
                </div>
            </div>
            <div class="about_item">
                <div class="about_pic">
                    <img src="static/assets/images/about/t-shirt.png" alt="">
                </div>
                <div class="about_title">
                    Movies
                </div>
                <div class="about_suptitle">
                    What i watch
                </div>
                <div class="about_text">
                    Clutter is honest! I do believe that has to the users
                    selfexpression. Care. Things which is a projector operating system such formats are deep and
                    profound
                    and meaningful. It's the traditions of data. Good design should be different levels. There's no
                    rational
                    alternative. That's come to complexity.
                </div>
            </div>
            <div class="about_item">
                <div class="about_pic">
                    <img src="static/assets/images/about/vinyl.png" alt="">
                </div>
                <div class="about_title">
                    Movies
                </div>
                <div class="about_suptitle">
                    What i watch
                </div>
                <div class="about_text">
                    Clutter is honest! I do believe that has to the users
                    selfexpression. Care. Things which is a projector operating system such formats are deep and
                    profound
                    and meaningful. It's the traditions of data. Good design should be different levels. There's no
                    rational
                    alternative. That's come to complexity.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section--portfolio section--line">
    <div class="container">

        <div class="section_content">
            <div class="section_title">
                portfolio
            </div>
            <div class="arrows_title">
                <img src="static/assets/images/section/arrows.png" alt="">
            </div>
            <div class="section_suptitle">
                simplicity is the ultimate sophistication
            </div>
        </div>
    </div>
<!-- </div>

<div class="section section--portfolio"> -->
    <div class="container">
        <div class="portfolio">
            <div class="portfolio_filter">
                <span>filer by</span>
                <div class="filter_item">
                    <div class="filter_conner"><span class="filter_conner_dot">*</span></div>
                    <div class="filter_text">design</div>
                </div>
                <div class="filter_item">
                    <div class="filter_conner"><span class="filter_conner_dot">*</span></div>
                    <div class="filter_text">logo</div>
                </div>
                <div class="filter_item">
                    <div class="filter_conner"><span class="filter_conner_dot">*</span></div>
                    <div class="filter_text">photography</div>
                </div>
                <div class="filter_item">
                    <div class="filter_conner"><span class="filter_conner_dot">*</span></div>
                    <div class="filter_text">poster</div>
                </div>
            </div>

            <div class="portfolio_catalog">
            <div class="portfolio_raw">
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/clip.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/note.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/tv_port.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/sound.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
            </div>
            <!--portfolio raw-->
            <div class="portfolio_raw">
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/photo.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/clip.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/clip.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
                <div class="portfolio_item">
                    <div class="portfolio_image">

                    </div>
                    <div class="portfolio_inf">
                        <div class="portfolio_icon">
                            <img src="static/assets/images/porfolio/clip.png" alt="">
                        </div>
                        <div class="portfolio_title">
                            Galleries are funny
                        </div>
                    </div>
                </div>
            </div>
            <!--portfolio raw-->
        </div> <!--portfolio catalog-->

            <div class="uni_suptitle">
                browse all
            </div>
        </div>
    </div>
</div>


<div class="section section--line">
    <div class="container">
        <div class="section_content">
            <div class="section_title">
                my blog
            </div>
            <div class="arrows_title">
                <img src="static/assets/images/section/arrows.png" alt="">
            </div>
            <div class="section_suptitle">
                NEWS FROM MY HOUSE
            </div>
        </div>
    </div>
<!-- </div>

<div class="section"> -->
    <div class="blog">
        <div class="container">
            <div class="blog_catalog">
            <div class="blog_item">
                <div class="blog_col">
                    <div class="blog_img">
                        <img src="https://via.placeholder.com/280x215" alt="">
                    </div>
                </div>
                <div class="blog_col">
                    <div class="blog_content">
                        <div class="blog_title">
                            The Magic Wheel
                        </div>
                        <div class="blog_suptitle">
                            <span>JULY 28, 2014 // ADMIN // FUN, TRAVEL, TRENDS</span><span>Jun 28, 1966</span>
                        </div>
                        <div class="blog_text">
                            It’s not it to understand them in the objects we’re playing. Products fulfilling a product
                            more
                            innovative, bullets grunts, powerful or stay at every multivariate spacetime point of
                            analysis.
                            People
                            have enormous serial correlation. Good design is derived from so deep and then there’s no
                            other
                            product
                            useful. (MORE…)
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog_item">
                <div class="blog_col">
                    <div class="blog_img">
                        <img src="https://via.placeholder.com/280x215" alt="">
                    </div>
                </div>
                <div class="blog_col">
                    <div class="blog_content">
                        <div class="blog_title">
                            The Magic Wheel
                        </div>
                        <div class="blog_suptitle">
                            <span>JULY 28, 2014 // ADMIN // FUN, TRAVEL, TRENDS</span><span>Jun 28, 1966</span>
                        </div>
                        <div class="blog_text">
                            It’s not it to understand them in the objects we’re playing. Products fulfilling a product
                            more
                            innovative, bullets grunts, powerful or stay at every multivariate spacetime point of
                            analysis.
                            People
                            have enormous serial correlation. Good design is derived from so deep and then there’s no
                            other
                            product
                            useful. (MORE…)
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog_item">
                <div class="blog_col">
                    <div class="blog_img">
                        <img src="https://via.placeholder.com/280x215" alt="">
                    </div>
                </div>
                <div class="blog_col">
                    <div class="blog_content">
                        <div class="blog_title">
                            The Magic Wheel
                        </div>
                        <div class="blog_suptitle">
                            <span>JULY 28, 2014 // ADMIN // FUN, TRAVEL, TRENDS</span><span>Jun 28, 1966</span>
                        </div>
                        <div class="blog_text">
                            It’s not it to understand them in the objects we’re playing. Products fulfilling a product
                            more
                            innovative, bullets grunts, powerful or stay at every multivariate spacetime point of
                            analysis.
                            People
                            have enormous serial correlation. Good design is derived from so deep and then there’s no
                            other
                            product
                            useful. (MORE…)
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog_item">
                <div class="blog_col">
                    <div class="blog_img">
                        <img src="https://via.placeholder.com/280x215" alt="">
                    </div>
                </div>
                <div class="blog_col">
                    <div class="blog_content">
                        <div class="blog_title">
                            The Magic Wheel
                        </div>
                        <div class="blog_suptitle">
                            <span>JULY 28, 2014 // ADMIN // FUN, TRAVEL, TRENDS</span><span>Jun 28, 1966</span>
                        </div>
                        <div class="blog_text">
                            It’s not it to understand them in the objects we’re playing. Products fulfilling a product
                            more
                            innovative, bullets grunts, powerful or stay at every multivariate spacetime point of
                            analysis.
                            People
                            have enormous serial correlation. Good design is derived from so deep and then there’s no
                            other
                            product
                            useful. (MORE…)
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--blog_catalog-->





        </div>
    </div>
</div>

<div class="section section--contact_me section--line">
    <div class="container">
        <div class="section_content">
            <div class="section_title">
                contact me
            </div>
            <div class="arrows_title">
                <img src="static/assets/images/section/arrows_light.png" alt="">
            </div>
            <div class="section_suptitle">
                i'll be glad to answer your questions!
            </div>
        </div>
    </div>
</div>

<div class="section section--contact_me">
    <div class="container">
        <form action="" class='contact_form'>

            <div class="contact_fields">
                <input class='input_field' type="text" placeholder="name">
                <input class='input_field' type="email" placeholder='e-mail'>
                <input class='input_field' type="text" placeholder="subject">
                <input class='input_field' type="your message" placeholder="message">
            </div>
            <button class='contact_btn'>Send Message</button>

        </form>
        <div class="uni_suptitle uni_suptitle--light">
            browse all
        </div>

        <div class="socials">
            <div class="socials_item">
                <img src="static/assets/images/contact/fb.png" alt="">
            </div>
            <div class="socials_item">
                <img src="static/assets/images/contact/twitter_icon.png" alt="">
            </div>
            <div class="socials_item">
                <img src="static/assets/images/contact/pinterest_icon.png" alt="">
            </div>
            <div class="socials_item">
                <img src="static/assets/images/contact/linkedin_icon.png" alt="">
            </div>
            <div class="socials_item">
                <img src="static/assets/images/contact/google.png" alt="">
            </div>
        </div>

    </div>
</div>

</body>

</html>